@model CoffeeFoodOrder.Models.RegisterViewModel
@{
    ViewBag.Title = "Реєстрація";
}
<h2>Реєстрація</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="mb-3">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-success">Зареєструватись</button>
}